terraform {
  backend "s3" {
    bucket         = "ausmith-tf-state"
    dynamodb_table = "ausmith-tf-state-locks"
    encrypt        = true
    key            = "{{STATE_IDENTIFIER}}"
    region         = "us-east-1"
  }
}

variable "env_name" {
  default = "{{ENV_NAME}}"
}
